<app-navegacion></app-navegacion>
<br>
<br>
<div class="container">
  <hr>
  <button class="btn btn-primary" (click)="abrirModal()">Registrar</button>
  <hr>
  <br>

  <div class="row g-2 align-items-center mb-4">
    <div class="col-auto">
      <select class="form-select buscarS" [(ngModel)]="busqueda" name="busqueda">
        <option value="" disabled selected>Buscar por:</option>
        <option value="placa">Placa</option>
        <option value="nombre">Nombre</option>
        <option value="tipoVehiculo">Tipo Vehiculo</option>
        <option value="precio">Precio</option>
        <option value="estado">Estado</option>
      </select>
    </div>


    @if (busqueda === 'placa') {
    <div class="col-sm-4 col-md-3">
      <input type="text" id="placa" name="placaBusqueda" class="form-control" placeholder="Ingrese la placa"
        [(ngModel)]="placaV">
    </div>
    <div class="col-auto">
      <button type="button" (click)="verPlaca()" class="btn btn-primary">Buscar</button>
    </div>
    <div class="col-auto">
      <button type="button" (click)="listarVehiculos(); placaV = ''" class="btn btn-secondary">Limpiar</button>
    </div>
    }

    @if (busqueda === 'nombre') {
    <div class="col-sm-4 col-md-3">
      <input type="text" id="nombre" name="nombreBusqueda" class="form-control" placeholder="Ingrese el nombre"
        [(ngModel)]="nombreV">
    </div>
    <div class="col-auto">
      <button type="button" (click)="verNombre()" class="btn btn-primary">Buscar</button>
    </div>
    <div class="col-auto">
      <button type="button" (click)="listarVehiculos(); nombreV = ''" class="btn btn-secondary">Limpiar</button>
    </div>
    } 

    @if (busqueda === 'tipoVehiculo') {
    <div class="col-sm-4 col-md-3">
      <select class="form-select" [(ngModel)]="nombreT" name="tipoVehiculoB" (change)="verTipoVehiculo()">
        <option value="" disabled selected>Seleccione tipo...</option>
        @for(tipoV of tipoVehiculos; track $index){
        <option [ngValue]="tipoV.nombre">
          {{ tipoV.nombre }}
        </option>
        }
      </select>
    </div>
    <div class="col-auto">
      <button type="button" (click)="listarVehiculos(); nombreT = ''" class="btn btn-secondary">Limpiar</button>
    </div>
    }

    @if (busqueda === 'precio') {
    <div class="col-sm-4 col-md-3">
      <input type="number" id="precio" name="precioBusqueda" class="form-control" placeholder="Ingrese el precio"
        [(ngModel)]="precioV">
    </div>
    <div class="col-auto">
      <button type="button" (click)="verPrecio()" class="btn btn-primary">Buscar</button>
    </div>
    <div class="col-auto">
      <button type="button" (click)="listarVehiculos(); precioV = null" class="btn btn-secondary">Limpiar</button>
    </div>
    }

    @if (busqueda === 'estado') {
    <div class="col-sm-4 col-md-3">
      <input type="text" id="estado" name="estadoBusqueda" class="form-control" placeholder="Ingrese el estado"
        [(ngModel)]="estadoV">
    </div>
    <div class="col-auto">
      <button type="button" (click)="verEstado()" class="btn btn-primary">Buscar</button>
    </div>
    <div class="col-auto">
      <button type="button" (click)="listarVehiculos(); estadoV = ''" class="btn btn-secondary">Limpiar</button>
    </div>
    }
  </div>

  <div class="table-responsive">

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">IMAGEN</th>
          <th scope="col" class="text-center">NOMBRE</th>
          <th scope="col" class="text-center">PLACA</th>
          <th scope="col" class="text-center">COLOR</th>
          <th scope="col" class="text-center">TIPO DE VEHICULO</th>
          <th scope="col" class="text-center">PRECIO</th>
          <th scope="col" class="text-center">ESTADO</th>
          <th scope="col" class="text-center">ACCIONES</th>
        </tr>
      </thead>

      <tbody>
        @for(i of datosPaginados(); track $index){
        <tr>
          <td class="imagen">
            @if(i.imagen) {
            <img [src]="i.imagen" class="img-thumbnail imagenV">
            }
          </td>
          <td>{{i.nombre}}</td>
          <td>{{i.placa}}</td>
          <td>{{i.color}}</td>
          <td>{{i.tipoVehiculo?.nombre}}</td>
          <td>{{i.precio}}</td>
          <td>{{i.estado}}</td>
          <td>
            <button type="button" class="btn btn-danger m-2" (click)="eliminar(i.placa)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
              </svg>
            </button>

            <button type="button" class="btn btn-success m-2" (click)="actualizar(i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
              </svg>
            </button>

          </td>
        </tr>
        }
      </tbody>
    </table>

    <div class="paginacion">
      <button (click)="cambiarPagina(paginaActual() - 1)" [disabled]="paginaActual() === 1">
        < </button>

          <span>Página {{ paginaActual() }} de {{ totalPaginas() }}</span>

          <button (click)="cambiarPagina(paginaActual() + 1)" [disabled]="paginaActual() === totalPaginas()">
            >
          </button>
    </div>
  </div>


  <div class="modal" tabindex="-1" id="registro">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          @if(!bandera){
          <h5 class="modal-title tituloM">REGISTRAR</h5>
          } @else{
          <h5 class="modal-title tituloM">EDITAR</h5>
          }
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          <form #formVehiculo="ngForm" (ngSubmit)="guardarVehiculo()">
            <div class="mb-3">
              <label class="form-label d-block">Imagen</label>
              <button type="button" class="btn btn-outline-secondary" (click)="fileInput.click()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image me-1"
                  viewBox="0 0 16 16">
                  <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                  <path
                    d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z" />
                </svg>
                Seleccionar imagen
              </button>
              <input #fileInput type="file" class="d-none" accept="image/*" (change)="cargarImagen($event)">

              @if(vehiculo.imagen) {
              <div class="imagenModal">
                <img [src]="vehiculo.imagen" class="img-thumbnail imagenM">
                <button type="button" class="btn btn-sm btn-link text-danger d-block mx-auto mt-1"
                  (click)="vehiculo.imagen = ''">Quitar imagen
                </button>
              </div>
              }

            </div>
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input for="inputNombre" type="text" class="form-control" [(ngModel)]="vehiculo.nombre" name="nombre">
            </div>
            <div class="mb-3">
              <label class="form-label">Placa</label>
              <input for="inputPlaca" type="text" class="form-control" [(ngModel)]="vehiculo.placa" name="placa"
                required #placaInput="ngModel">
              @if(placaInput.invalid && (placaInput.dirty || placaInput.touched)){
              <div class="text-danger small mt-1">
                La placa es obligatoria para poder registrar el vehículo.
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Color</label>
              <input for="inputColor" type="text" class="form-control" [(ngModel)]="vehiculo.color" name="color">

            </div>
            <div class="mb-3">
              <label class="form-label">Tipo de vehiculo</label>
              <select class="form-select" [(ngModel)]="vehiculo.tipoVehiculo" name="tipoVehiculo">

                @for(tipoV of tipoVehiculos; track $index){
                <option [ngValue]="tipoV">
                  {{ tipoV.nombre }}
                </option>
                }
              </select>

            </div>
            <div class="mb-3">
              <label class="form-label">Precio</label>
              <input for="inputPrecio" type="text" class="form-control" [(ngModel)]="vehiculo.precio" name="precio">

            </div>
            <div class="mb-3">
              <label class="form-label">Estado</label>
              <input for="inputEstado" type="text" class="form-control" [(ngModel)]="vehiculo.estado" name="estado">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="cerrarModal()">Cerrar</button>

              <button type="submit" class="btn btn-primary"
                [disabled]="formVehiculo.invalid">Guardar</button>

            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>